:root {
    --primary: #112479;
    --progressBarAtual: #7b93ff;
    --secundary: #414e86;
    --progressBarPassada: #002fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background: #ffffff;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    width: 100vw;
    padding: 5px;
    background-image: linear-gradient(var(--primary), var(--secundary));
    text-align: center;
    font-size: calc(15px + 1.5vw);
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 60vw;
    max-width: 700px;
    height: auto;
    margin: 10px 0 0 0;
}

ul {
    margin: 0 0 10px 0;
}

ul li {
    width: 80vw;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    padding: 15px 10px 15px 10px;
    color: #000000;
    font-size: 1.5em;

    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 2px;

    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: var(--secundary);
    color: rgb(159, 255, 255);
    transition: 0.3s;
}

#sectionQuizz {
    width: 90vw;
    max-width: 700px;
    margin: auto;
    background: rgb(236, 231, 231);
    padding: 0px;
    box-shadow: 0 0 5px #121212c5;
}

#conteudo {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#divImg {
    position: relative;
}

#titulo {
    position: absolute;
    bottom: 0;

    width: 60vw;
    max-width: 700px;

    padding: 30px 0 10px 0;

    background-image: linear-gradient(rgba(209, 209, 209, 0), #000000);

    color: rgb(255, 255, 255);
    font-size: calc(1em + 1.6vw);
    text-shadow: -1px -1px 1px black;
    text-align: center;
}

#descrição {
    display: flex;
    flex-flow: column nowrap;

    margin: 10px 20vw 0 0;

    color: rgba(43, 43, 43, 0.904);
    font-size: calc(12px + 1.2vw);
}

#boxName {
    width: 80vw;
    max-width: 600px;
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;

    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(17, 8, 150);
    font-size: 1.2em;
    text-align: center;
}

#btnNext {
    width: 40vw;
    max-width: 400px;

    background-image: radial-gradient(rgb(61, 82, 129), rgb(99, 114, 179));
    color: #ffffff;

    padding: 20px 0 20px 0;
    margin: 50px 0 20px 0;

    border-radius: 15px;
    box-shadow: 2px 2px 2px #121212;

    font-size: 1.5em;
    transition: .3s;
}

#btnNext:hover {
    background: rgb(118, 153, 216);
    color: black;
    transform: translateY(-5px);
    transition: .3s;
}

#pergunta {
    width: 90vw;
    max-width: 700px;
    background: var(--primary);
    color: white;
    margin: 0 0 5px 0;
    padding: 30px 0 30px 0;
    font-size: 2em;
    text-align: center;
}

#divProgressBar {
    width: 90vw;
    max-width: 700px;
    background: var(--secundary);
}

.progressBar{
    background: var(--primary);
    color: rgba(255, 255, 255, 0.63);
    padding: calc(5px + 0.5vw) calc(10px + 1vw) calc(5px + 0.5vw) calc(10px + 1vw);
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: calc(10px + 1vw);
}
.progressBarAtual{
    background: var(--progressBarAtual);
    color: rgba(255, 255, 255, 0.63);
    padding: calc(5px + 0.5vw) calc(10px + 1vw) calc(5px + 0.5vw) calc(10px + 1vw);
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: calc(10px + 1vw);
}
.progressBarPassada{
    background: var(--progressBarPassada);
    color: rgba(255, 255, 255, 0.63);
    padding: calc(5px + 0.5vw) calc(10px + 1vw) calc(5px + 0.5vw) calc(10px + 1vw);
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: calc(10px + 1vw);
}

.progressBar:hover {
    pointer-events: none;
}

.checked {
    background: black;
}

@media only screen and (max-width: 1000px) {
    img{
        width: 80vw;
        max-width: 700px;
        height: auto;
        margin: 5px 0 0 0;
    }
    ul li{
        width: 90vw;
        max-width: 700px;
    }
    #sectionQuizz {
        width: 90vw;
        max-width: 700px;
        background: rgb(236, 231, 231);
        padding: 0px;
    }
    #titulo {
        width: 80vw;
        font-size: calc(20px + 2vw);
    }
    #descrição {
        margin: 10px 35vw 0 0;
    }
    #pergunta {
        width: 90vw;
        max-width: 700px;
    }
    .progressBar{
        background: var(--primary);
        padding: calc(5px + 1vw) calc(10px + 1vw) calc(5px + 1vw) calc(10px + 1vw);
        font-size: calc(10px + 1vw);
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 100vw;
        height: auto;
        margin: 0;
    }
    ul li {
        width: 99vw;
    }
    #sectionQuizz {
        width: 100vw;
        background: rgb(236, 231, 231);
        padding: 0;
    }
    #titulo {
        width: 100vw;
        font-size: calc(20px + 2vw);
    }
    #descrição {
        margin: 10px 35vw 0 0;
    }
    #boxName{
        padding: 20px 5vw 20px 5vw;
    }
    #btnNext{
        padding: 20px 5vw 20px 5vw;
    }
    #pergunta {
        width: 100vw;
    }
    #divProgressBar {
        width: 100vw;
        background: var(--secundary);
    }
    .progressBar{
        background: var(--primary);
        padding: calc(3px + 0.3vw) calc(5px + 0.5vw) calc(3px + 0.3vw) calc(5px + 0.5vw);
        font-size: calc(12px + 1.2vw);
    }
}